<h1 class="reveal-invisible-1 text-white">Parcours</h1>
<h2 id="experiences" class="reveal-invisible-2 text-white">Expériences</h2>

<div class="ui equal width left aligned padded grid">
    {% for experience in experiences %}
    {% if experience['id'] % 2==0 %}
    <div class="row reveal-invisible-3">
    {% endif %}

        <div class="ui segment column">
            <div class="reveal-invisible-4">
                <img class="ui small rounded image" src="assets/img/{{experience['img']}}">
                <h3>{{experience['titre']}}</h3>
                <div class="ui compact segment"><b>{{experience['date']}}</b></div>
            </div><br>
            <div class="reveal-invisible-5">
                <p>{{experience['semaines']}}</p>
                <p>{{experience['lieu']}}</p>
                <p>{{experience['info']}}</p>
                <p>
                    <b>{{experience['titrelangage']}}</b> {{experience['infolangage']}}<br>
                    <b>{{experience['titreoutil']}}</b> {{experience['infooutil']}}
                </p>
                {% if experience['competences'] != '' %}
                <p><b>Compétences abordées :</b>
                    <br>&#8226; {{experience['competences']}}
                    {% if experience['competences2'] != '' %}
                        <br>&#8226; {{experience['competences2']}}
                    {% endif %}
                    {% if experience['competences3'] != '' %}
                        <br>&#8226; {{experience['competences3']}}
                    {% endif %}
                    {% if experience['competences4'] != '' %}
                        <br>&#8226; {{experience['competences4']}}
                    {% endif %}
                    {% if experience['competences5'] != '' %}
                        <br>&#8226; {{experience['competences5']}}
                    {% endif %}
                </p>
                <a href="assets/doc/{{experience['compte-rendu']}}" class="ui basic button" target="_blank">Compte-rendu</a>
                {% endif %}
            </div>
        </div>
    {% if experience['id'] % 2!=0 or experience['fin'] == true %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<h2 id="formations" class="reveal-invisible-2 text-white">Formations</h2>

<div class="ui equal width left aligned padded grid">
    {% for formation in formations %}
    {% if formation['id'] % 2==0 %}
    <div class="row reveal-invisible-3">
    {% endif %}

        <div class="ui segment column">
            <div class="reveal-invisible-4">
                <img class="ui small rounded image" src="assets/img/{{formation['img']}}">
                <h3>{{formation['titre']}}</h3>
                <div class="ui compact segment"><b>{{formation['date']}}</b></div>
            </div>
            <div class="reveal-invisible-5">
                <p>{{formation['lieu']}}</p>
                <p>{{formation['info']}}</p>
                <p>
                    <b>{{formation['langageoutil']}}</b> {{formation['infolangue']}}<br>
                    <b>{{formation['titreconcept']}}</b> {{formation['infoconcepts']}}
                </p>
            </div>
        </div>
    {% if formation['id'] % 2!=0 or formation['fin'] == true %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<h2 id="certifications" class="reveal-invisible-2 text-white">Certifications</h2>

<div class="ui equal width center aligned padded grid">
    {% for certification in certifications %}
    {% if certification['id'] % 4==0 %}
    <div class="row reveal-invisible-3">
    {% endif %}
        <div class="ui segment column">
            <img class="ui centered {{certification['tailleimg']}} rounded image image-cursor" src="assets/img/{{certification['img']}}" onclick="modalRGPD('.ui.basic.modal.certif{{certification.id}}')">
        </div>

        <div class="ui basic modal certif{{certification['id']}}">
            <img class="ui {{certification['taillemodal']}} image" src="assets/img/{{certification['img']}}">
        </div>
    {% if certification['fin'] == true %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<h2 id="veille" class="reveal-invisible-2 text-white">Veille technologique</h2>

<p class="reveal-invisible-3 text-white">La veille technologique est l'observation et l'analyse de
    l'environnement scientifique, technique et technologique (...)
    pour en déduire les menaces et les opportunités de
    développement. <i>Jakobiak, 1992</i></p>
<p class="reveal-invisible-4 text-white"><b>Compétence abordée :</b> Organiser son développement professionnel (mettre en oeuvre des outils et stratégies de veille informationnelle)</p>

<div class="ui equal width left aligned padded grid">
    {% for veille in veilles %}
    {% if veille['id'] % 2==0 %}
    <div class="row reveal-invisible-3">
    {% endif %}

        <div class="ui segment column">
            <div class="reveal-invisible-4">
                <a href="{{veille['lien']}}" target="_blank">
                    <img class="ui {{veille['tailleimg']}} rounded image" src="assets/img/{{veille['img']}}">
                </a>
                <h3>{{veille['titre']}}</h3>
                {% if veille['date'] != '' %}
                <div class="ui compact segment"><b>{{veille['date']}}</b></div>
                {% endif %}
            </div>
            <div class="reveal-invisible-5">
                <p>{{veille['lieu']}}</p>
                <p><b>Objectif :</b> {{veille['info']}}</p>
            </div>
        </div>
    {% if veille['id'] % 2!=0 or veille['fin'] == true %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<iframe width="560" height="315" class="ui rounded image reveal-invisible-6" src="https://www.youtube.com/embed/videoseries?list=PLL8qYgBw4YlFCTGkT3_KyYdviowtAvHdD" title="PodCast AXOPEN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
